*.pkl
*.json
!clinical/datasets/**/*.json
*.zip
*.png
*.npy
*.pyc
*.csv
*.lock
plots/*
math-rollouts/
math-rollouts_test/
.cursorindexingignore
.specstory
.idea/

# Re-include analysis folder
!analysis/
!analysis/**